<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yashovardhan99.healersdiary">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.CollapsingToolbarParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NewPatient"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.Login" />
        <activity
            android:name=".Activities.PatientView"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.NewHealingRecord"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activities.HealingLogs"
            android:parentActivityName=".Activities.PatientView" />
        <activity
            android:name=".Activities.PatientAddPaymentDialog"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".Activities.PatientPaymentLogs" />
        <activity
            android:name=".Activities.NewPatientFeedback"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".Activities.PatientFeedbackLogs"></activity>
    </application>

</manifest>